/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Typography */
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: rgba(24,26,32, 1);
    color: #fff; /* Text color */
    padding-top: 65px;
  }
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}
.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181a20;
    color: #fff;
    padding: 21px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure dashboard is above other content */
  }
  
  .dashboard-links {
    display: flex;
  }
  
  .dashboard-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .dashboard-links a:last-child {
    margin-right: 10;
  }
/* buy-sale-design.css */
.container {
    color: #ffe538;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Position container relatively */
    text-align: left;
}

.content {
    display: flex;
    border-left: 4px solid #ffe538;
    border-radius: 10cm;
    padding-left: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Position container relatively */
    text-align: left; /* Add margin to separate from the header */

}

.text {
    flex-grow: 1;
}

.buy-sell-input-box {
    width: 48%;
}

.buy-sell-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.buy-sell-box {
    text-align: center;
}

.buy-sell-box h2 {
    margin-bottom: 10px;
}

.buy-sell-box button {
    background-color: #595959; /* Yellow background color */
    color: #fff; /* White text color */
    border: none;
    padding: 15px 30px; /* Adjusted padding */
    cursor: pointer;
    border-radius: 25px; /* Rounded border */
    font-size: 18px; /* Adjusted font size */
    font-weight: bold;
    text-transform: uppercase;
    outline: none; /* Remove default focus outline */
    transition: background-color 0.3s, transform 0.2s;
}

.buy-sell-box button:hover {
    background-color: #c1c1c1; /* Lighter yellow on hover */
    transform: scale(1.05); /* Scale up on hover */
}

.buy-sell-input-box {
    padding: 20px;
    width: 100%; /* Ensure input box takes full width */
    box-sizing: border-box; /* Include padding and border in width */
}
.input-group button {
    background-color: #595959;
    color: #fff; /* White text color */
    border: none;
    padding: 10px 25px; /* Adjusted padding */
    cursor: pointer;
    border-radius: 20px; /* Rounded border */
    font-size: 12px; /* Adjusted font size */
    font-weight: bold;
    text-transform: uppercase;
    outline: none; /* Remove default focus outline */
    transition: background-color 0.3s, transform 0.2s;
    text-align: center
}

.input-group {
    margin-bottom: 10px;
    color:#c1c1c1;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%; /* Adjusted width to take full space */
    padding: 10px; /* Adjusted input padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Additional styles for a more modern look */
.container h1 {
    text-align: left;
    margin-bottom: 30px;
}
.containerh1 {
    text-align: left; /* Align the content of the container to the right */
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerh1 h1 {
    margin-bottom: 20px; /* Reduce margin for a smaller gap */
    font-size: 24px; /* Adjusted font size */
    max-width: 50%; /* Adjusted maximum width */
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #181a20;
    color: #fff;
    padding: 8px 0; /* Decreased padding */
    text-align: center;
    font-size: 0.9rem; /* Decreased font size */
  }
.container {
    color: #ffe538;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Position container relatively */
    text-align: left;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

.buy-sell-input-box {
    width: 48%; /* Adjusted width */
}
.text{
        margin-bottom: 20px;
}



