/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Typography */
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #181a20; /* Background color */
    color: #fff; /* Text color */
    padding-top: 65px; 
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  /* Dashboard */
.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181a20;
    color: #fff;
    padding: 21px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure dashboard is above other content */
  }
  
  .dashboard-links {
    display: flex;
  }
  
  .dashboard-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
  }
  .dashboard-links a:last-child {
    margin-right: 10;
  }
  /* Add margin to the top of the content below the dashboard */
  .content {
    margin-top: 60px; /* Adjust as needed */
  }
  
  /* FAQ Section */
  .faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 30px;
  }
  
  .question {
    font-weight: bold;
  }
  
  .answer {
    color: #ccc; /* Adjusted text color for answers */
  }
  
  /* Design Elements */
  .question {
    color: #ffe538; /* Question text color */
  }
  
  .answer {
    border-left: 4px solid #ffe538; /* Left border color for answers */
    padding-left: 10px; /* Add padding to the left of answers */
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #181a20;
    color: #fff;
    padding: 8px 0; /* Decreased padding */
    text-align: center;
    font-size: 0.9rem; /* Decreased font size */
  }

  
  