/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Typography */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #181a20;
    color: #fff;
    text-align: center;
  }
  
  h1, h2 {
    font-weight: 700;
    margin-bottom: 20px;
    
  }
  
  h1 {
    font-size: 2.5rem; /* Decreased font size */
  }
  
  h2 {
    font-size: 2rem; /* Decreased font size */
    margin-left: 400px;
    text-align: left;
    color: #ffe538;
  }
  
  p {
    font-size: 1rem; /* Decreased font size */
    margin-bottom: 15px;
    margin-left: 420px;
    text-align: left;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 0.9rem; /* Decreased font size */
    margin-bottom: 10px;
    text-align: left;
    margin-left: 430px;
    border-left: 4px solid #ffe538; /* Left border color for answers */
    padding-left: 10px;
  }
  
  /* Form */
  .contact-form {
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 0.9rem; /* Decreased font size */
    margin-bottom: 5px;
  }
  .dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181a20;
    color: #fff;
    padding: 24px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure dashboard is above other content */
  }
  
  .dashboard-links {
    display: flex;
  }
  
  .dashboard-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .dashboard-links a:last-child {
    margin-right: 10;
  }
  body { 
    padding-top: 65px; 
}
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 20%;
    padding: 8px;
    font-size: 0.9rem; /* Decreased font size */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    font-size: 1rem; /* Decreased font size */
    background-color: #ffe538;
    color: #181a20;
    padding: 8px 16px; /* Decreased padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ffc107;
  }
  